---
apiVersion: v1
kind: ConfigMap
metadata:
  name: website-content
  namespace: default
data:
  index-one.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>Simple Website one</title>
    </head>
    <body>
      <h1>Welcome to My Simple Website one</h1>
      <p>This is a static website served by Nginx in a Kubernetes pod.</p>
      <p>Deployed on K3s cluster using Vagrant.</p>
    </body>
    </html>
  index-two.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>Simple Website two</title>
    </head>
    <body>
      <h1>Welcome to My Simple Website two</h1>
      <p>This is a static website served by Nginx in a Kubernetes pod.</p>
      <p>Deployed on K3s cluster using Vagrant.</p>
    </body>
    </html>
  index-three.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>Simple Website three</title>
    </head>
    <body>
      <h1>Welcome to My Simple Website three</h1>
      <p>This is a static website served by Nginx in a Kubernetes pod.</p>
      <p>Deployed on K3s cluster using Vagrant.</p>
    </body>
    </html>
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-one
  namespace: default
  labels:
    app: app-one
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-one
  template:
    metadata:
      labels:
        app: app-one
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80
        volumeMounts:
        - name: website-content
          mountPath: /usr/share/nginx/html/index.html
          subPath: index-one.html
      volumes:
      - name: website-content
        configMap:
          name: website-content
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-two
  namespace: default
  labels:
    app: app-two
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-two
  template:
    metadata:
      labels:
        app: app-two
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80
        volumeMounts:
        - name: website-content
          mountPath: /usr/share/nginx/html/index.html
          subPath: index-two.html
      volumes:
      - name: website-content
        configMap:
          name: website-content
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-three
  namespace: default
  labels:
    app: app-three
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-three
  template:
    metadata:
      labels:
        app: app-three
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80
        volumeMounts:
        - name: website-content
          mountPath: /usr/share/nginx/html/index.html
          subPath: index-three.html
      volumes:
      - name: website-content
        configMap:
          name: website-content
---

apiVersion: v1
kind: Service
metadata:
  name: app-one
  namespace: default
spec:
  selector:
    app: app-one
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: app-two
  namespace: default
spec:
  selector:
    app: app-two
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: app-three
  namespace: default
spec:
  selector:
    app: app-three
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: apps
  namespace: default
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
  - host: app1.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-one
            port:
              number: 80

  - host: app2.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-two
            port:
              number: 80
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-three
            port:
              number: 80

